*.prof
*.kra
*.pclx
*.debug
*~
_debug*
vendor
scopesetting*.yaml
output_verify.txt
fynescope
*.test
*.log
*.txt
*.nogo
*.py
*.pcapng
decoder.go
PicoStatus.h
ps2000aApi.h
rename_files.sh
icon1.png
icon2.png
WIKI.md
*.out
.vscode/settings.json
raster_*.png
window_*.png
fuzzer_report_*.tar.gz
fynescope-sim-linux-amd64
fynescope-linux-amd64
github_wiki/*.md
scratch/*
waveform*.bin
*.csv
