go.sum
*.prof
*.kra
*.pclx
*.debug
*~
_debug*
vendor
scopesetting*.yaml
output_verify.txt
fynescope
*.test
*.log
*.txt
*.nogo
*.py
*.pcapng
.gitignore
decoder.go
PicoStatus.h
.gitignore
ps2000aApi.h
rename_files.sh
icon1.png
icon2.png
WIKI.md
.vscode/settings.json
